[MASTER]
load-plugins=pylint.extensions.docparams
default-docstring-type=sphinx
extension-pkg-whitelist=PySide2

[MESSAGES CONTROL]
disable=import-star-module-level,old-division,missing-docstring,invalid-name,too-many-instance-attributes,too-many-arguments,too-many-locals,bad-continuation,too-few-public-methods,too-many-branches,fixme,missing-return-type-doc,missing-type-doc,missing-yield-type-doc,import-error,no-name-in-module,too-many-statements

[REPORTS]
output-format=text
reports=yes
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[FORMAT]
max-line-length=120
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
single-line-if-stmt=no
no-space-check=trailing-comma,dict-separator
max-module-lines=10000
indent-string='    '
indent-after-paren=4
expected-line-ending-format=LF

[BASIC]
argument-rgx=[a-z_][a-z0-9_]{2,30}$
argument-name-hint=[a-z_][a-z0-9_]{2,30}$
function-rgx=[a-z_][a-z0-9_]{2,30}$
function-name-hint=[a-z_][a-z0-9_]{2,30}$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
module-name-hint=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
inlinevar-name-hint=[A-Za-z_][A-Za-z0-9_]*$
attr-rgx=[a-z_][a-z0-9_]{2,30}$
attr-name-hint=[a-z_][a-z0-9_]{2,30}$
class-rgx=[A-Z_][a-zA-Z0-9]+$
class-name-hint=[A-Z_][a-zA-Z0-9]+$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$
class-attribute-name-hint=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$
method-rgx=[a-z_][a-z0-9_]{2,30}$
method-name-hint=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-z_][a-z0-9_]{2,30}$
variable-name-hint=[a-z_][a-z0-9_]{2,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
const-name-hint=(([A-Z_][A-Z0-9_]*)|(__.*__))$
no-docstring-rgx=^_
docstring-min-length=-1

[ELIF]
max-nested-blocks=5

[TYPECHECK]
ignore-mixin-members=yes
ignored-classes=optparse.Values,thread._local,_thread._local
contextmanager-decorators=contextlib.contextmanager

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[LOGGING]
logging-modules=logging

[VARIABLES]
init-import=no
dummy-variables-rgx=(_+[a-zA-Z0-9]*?$)|dummy

[CLASSES]
defining-attr-methods=__init__,__new__,setUp
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs
exclude-protected=_asdict,_fields,_replace,_source

[DESIGN]
ignored-argument-names=_.*

[IMPORTS]
deprecated-modules=optparse

[EXCEPTIONS]
overgeneral-exceptions=Exception

